# creates the documentation on pushes it to the gh-pages branch
name: Documentation

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: documentation
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install -e . --group dev

      - name: Build and Commit
        uses: sphinx-notes/pages@2.1
        with:
          documentation_path: docs
          sphinx_version: "5.3.0"

      - name: Push changes
        if: ${{ github.event_name == 'push' }}
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.SPHINX_DOCUMENTATION }}
          branch: gh-pages
