name: Documentation
on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: documentation
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e . --group dev

      - name: Build and Commit
        uses: sphinx-notes/pages@2.1
        with:
          documentation_path: docs

      - name: Push changes
        if: ${{ github.event_name == 'push' }}
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.SPHINX_DOCUMENTATION }}
          branch: gh-pages
